<div class="bg-gray-100 min-h-screen py-12">
  <div class="container mx-auto max-w-lg bg-white shadow-lg rounded-xl p-8">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Dodaj kategorie</h1>

    <%= form_with model: @category, local: true, class: "space-y-6" do |form| %>
      <div>
        <%= form.label :name,"Nazwa", class: "block text-gray-700 font-medium mb-2" %>
        <%= form.text_field :name, class: "w-full border-gray-300 rounded-lg shadow-sm p-2" %>
      </div>

      <div>
        <%= form.submit 'Dodaj kategorie', class: "w-full bg-blue-600 text-white py-3 rounded-lg hover:bg-blue-700 transition shadow-md" %>
      </div>
    <% end %>
  </div>
</div>
